body {
  background-color: #2c3e50;
}

.login-form {
  max-width: 400px;
  margin: 20px auto 20px auto;
  padding: 32px 24px 17px 24px;
  background-color: #fff;
  border-radius: 6px;
}
.login-form .form-group {
  position: relative;
}
.login-form .form-group label {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 18px;
  color: #bdc3c7;
}
.login-form .form-control:focus + label {
  color: #357ebd;
}

#accordion {
  margin-top: 4px;
}
.accordion-group {
  background-color: #fff;
  border: none;
  margin: 4px;
}
.accordion-toggle {
  text-align: center;
  background-color: #2980b9;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.accordion-toggle.collapsed {
  border-radius: 4px;
  background-color: #3498db;
}
.accordion-toggle:hover,
.accordion-toggle:focus {
  text-decoration: none;
  background-color: #2980b9;
  color: #fff;
}
.accordion-inner {
  overflow: auto;
}
.table {
  white-space: nowrap;
}

.page {
  background-color: #2980b9;
  color: #fff;
  padding: 1px 20px 20px;
  margin: 20px;
  border-radius: 6px;
}
.page a {
  color: #fff;
  text-decoration: underline;
}
.page .page-header {
  border: none;
  margin-bottom: 0;
}

.footer {
  text-align: center;
  margin-bottom: 8px;
}

@media (max-width: 416px) {
  .login-form, .page {
    margin: 8px;
  }
}
