a {
  color: #1abc9c;
}
a:hover {
  color: #16a085;
}
pre {
  background-color: #ffffff;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Microsoft YaHei";
}
.jumbotron {
  background-color: #ecf0f1;
}
.navbar-inverse {
  background-color: #34495e;
  border: none;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #1abc9c;
  transition: color ease-in-out 0.2s;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #1abc9c;
  transition: color ease-in-out 0.2s;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #1abc9c;
}
.navbar-inverse .navbar-toggle {
  border-color: #34495e;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #2c3e50;
}
.navbar-inverse .navbar-collapse {
  border-color: #2c3e50;
}
.modal-content {
  background-color: transparent;
  border: none;
}
.modal-header {
  background-color: #34495e;
  color: #ffffff;
  border-radius: 6px 6px 0 0;
}
.modal-body {
  background-color: #fff;
  border-radius: 0 0 6px 6px;
}
.modal-body .form-control:focus {
  border-style: solid;
}
.close {
  color: #fff;
  opacity: .6;
  filter: alpha(opacity=60);
}
.close:hover {
  color: #fff;
  opacity: .8;
  filter: alpha(opacity=80);
}
.btn {
  color: #ffffff;
  background-color: #1abc9c;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: #ffffff;
  background-color: #16a085;
  transition: background-color ease-in-out 0.2s;
}
.form-control {
  border-color: transparent;
  background-color: #ecf0f1;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #1abc9c;
}
.list-group-item {
  border: none;
  padding: 8px 16px;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #1abc9c;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: none;
  white-space: nowrap;
}
.table-responsive {
  overflow-y: hidden;
  overflow-x: auto;
}
.table-responsive .table {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .table-responsive {
    border: none;
    margin-bottom: 0;
  }
  .table-responsive .table {
    background-color: transparent;
  }
}
.text-muted {
  color: #95a5a6;
}
.text-primary {
  color: #3498db;
}
.text-warning {
  color: #e67e22;
}
.text-danger {
  color: #e74c3c;
}
.text-success {
  color: #2ecc71;
}
.text-info {
  color: #3a87ad;
}
.alert {
  border: none;
}
.alert-warning {
  color: #ffffff;
  background-color: #f39c12;
}
.alert-success {
  color: #ffffff;
  background-color: #2ecc71;
}
.alert-danger {
  color: #ffffff;
  background-color: #e74c3c;
}
.alert a {
  color: #ffffff;
  text-decoration: underline;
}
.alert a:hover {
  text-decoration: none;
}
.badge {
  background-color: #1abc9c;
  color: #ffffff;
}
.pagination > li > a,
.pagination > li > span {
  padding: 6px 10px;
  border: none;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.panel {
  border: none;
}
.panel-heading {
  padding: 0;
}
.panel-heading .accordion-toggle {
  display: block;
  padding: 10px 15px;
  background-color: #16a085;
  color: #ffffff;
}
.panel-heading .accordion-toggle.collapsed {
  background-color: #1abc9c;
  border-bottom: 2px solid #16a085;
}
.panel-heading .accordion-toggle.collapsed:hover {
  background-color: #16a085;
  border-bottom: 2px solid #12856f;
}
.panel-heading .accordion-toggle:hover,
.panel-heading .accordion-toggle:active,
.panel-heading .accordion-toggle:focus {
  text-decoration: none;
}
.panel-heading .badge {
  color: #1abc9c;
  background-color: #ffffff;
}
.panel-body {
  background-color: #f9f9f9;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: none;
}
.form-horizontal .form-group label[class^="col-xs"] {
  text-align: right;
}
.login-form {
  max-width: 320px;
  margin: 15px auto;
  padding: 8px 20px 0 20px;
}
.login-form .form-group {
  position: relative;
}
.login-form label.input-icon {
  position: absolute;
  top: 7px;
  right: 9px;
  color: #bdc3c7;
}
.login-form .form-control:focus + label {
  color: #1abc9c;
  transition: color ease-in-out 0.2s;
}
.login-form .alert {
  padding: 10px 15px;
}
.site .jumbotron {
  margin-bottom: 0;
}
#site-top {
  background-color: #ecf0f1;
  text-align: center;
  color: #34495e;
}
#site-top h1 {
  color: #27ae60;
}
#site-top h1 span {
  color: #34495e;
}
#site-top .logo img {
  width: 160px;
}
#site-top .description {
  color: #7f8c8d;
}
@media (max-width: 768px) {
  #site-top .logo img {
    width: 100px;
  }
  #site-top .description {
    font-size: 16px;
  }
  #site-top .btn.btn-lg {
    font-size: 16px;
    padding: 6px 20px;
  }
}
#functions-intro {
  background-color: #1abc9c;
  color: #fff;
}
#functions-intro h2 {
  text-align: center;
  margin-bottom: 40px;
}
#functions-intro div[class^="col"] {
  text-align: center;
  margin-bottom: 32px;
}
#functions-intro div[class^="col"] div.img {
  width: 160px;
  height: 160px;
  padding: 40px;
  border-radius: 100px;
  background-color: #f1c40f;
  margin: auto;
}
#functions-intro div[class^="col"] div.img img {
  width: 100%;
}
#functions-intro div[class^="col"] div.description ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  font-style: italic;
  color: #ecf0f1;
}
#responsive-design {
  background-color: #fff;
  color: #34495e;
}
#footer {
  color: #fff;
  background-color: #34495e;
  padding: 40px 0 20px 0;
  text-align: center;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #fff;
}
#footer .powered {
  color: #ecf0f1;
}
#footer .powered img {
  position: relative;
  top: -3px;
}
#footer .links {
  font-size: 18px;
}
#footer .links a {
  color: #2ecc71;
}
.courseTable {
  border-collapse: separate;
}
.courseTable tr > td:first-child,
.courseTable tr > th:first-child {
  text-align: center;
  width: 10px;
}
.courseTable td,
.courseTable th {
  padding: 4px 8px;
  width: 14.285714286%;
}
.courseTable th {
  background-color: #95a5a6;
  color: #ffffff;
  text-align: center;
  padding: 10px 8px 8px 8px;
  border-bottom: 2px solid #7f8c8d;
  white-space: nowrap;
}
.courseTable td {
  background-color: #fff;
}
.courseTable td.course {
  background-color: #2ecc71;
  color: #ffffff;
  border: 1px solid;
}
.courseTable td.course > div {
  cursor: pointer;
}
.courseTable td.course .tooltip-inner {
  text-align: left;
  padding: 8px;
}
.courseTable td.course .tooltip-inner p {
  margin: 2px 0;
}
.courseTable td.course-1 {
  background-color: #1abc9c;
}
.courseTable td.course-2 {
  background-color: #f1c40f;
}
.courseTable td.course-3 {
  background-color: #e67e22;
}
.courseTable td.course-4 {
  background-color: #3498db;
}
.courseTable td.course-5 {
  background-color: #e74c3c;
}
.courseTable td.course-6 {
  background-color: #9b59b6;
}
.courseTable td.course-7 {
  background-color: #34495e;
}
.courseTable td.course-8 {
  background-color: #16a085;
}
.courseTable td.course-9 {
  background-color: #f39c12;
}
.courseTable td.course-10 {
  background-color: #27ae60;
}
.courseTable td.course-11 {
  background-color: #2980b9;
}
.courseTable td.course-12 {
  background-color: #c0392b;
}
.courseTable td.course-13 {
  background-color: #8e44ad;
}
.courseTable td[rowspan="12"] {
  height: 18em;
}
.courseTable td[rowspan="11"] {
  height: 16.5em;
}
.courseTable td[rowspan="10"] {
  height: 15em;
}
.courseTable td[rowspan="9"] {
  height: 13.5em;
}
.courseTable td[rowspan="8"] {
  height: 12em;
}
.courseTable td[rowspan="7"] {
  height: 10.5em;
}
.courseTable td[rowspan="6"] {
  height: 9em;
}
.courseTable td[rowspan="5"] {
  height: 7.5em;
}
.courseTable td[rowspan="4"] {
  height: 6em;
}
.courseTable td[rowspan="3"] {
  height: 4.5em;
}
.courseTable td[rowspan="2"] {
  height: 3em;
}
.courseTable td[rowspan="1"] {
  height: 1.5em;
}
.courseLine {
  margin-bottom: 20px;
}
.courseLine > ul {
  padding-left: 30px;
  list-style: none;
}
.courseLine > ul > li > div {
  background-color: #ecf0f1;
  border-radius: 4px;
  padding: 4px 16px 2px 16px;
  margin: 16px 0;
  position: relative;
}
.courseLine > ul > li > div > dl {
  margin: 8px 0;
}
.courseLine .line {
  height: 100%;
  width: 6px;
  position: absolute;
  top: 0;
  background-color: #1abc9c;
  border-radius: 4px;
}
.courseLine .arrow {
  position: absolute;
  left: -10px;
  top: 20px;
  border: 10px solid transparent;
  border-right-color: #ecf0f1;
  border-left-width: 0;
}
.courseLine .circle {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: -37px;
  border: 5px solid #1abc9c;
  border-radius: 20px;
}
.datepicker {
  background-color: #1abc9c;
}
.datepicker:before {
  border-bottom-color: #1abc9c;
}
.datepicker:after {
  border-bottom-color: #1abc9c;
}
.datepicker td,
.datepicker th {
  color: #ffffff;
}
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td span.active.active {
  background-image: none;
  background-color: #ffffff;
  color: #1abc9c;
  text-shadow: none;
}
.datepicker td.old,
.datepicker td.new {
  color: #f1c40f;
}
.datepicker td.day:hover,
.datepicker td span:hover,
.datepicker thead tr:first-child th:hover {
  background-color: #16a085;
}
.form-control.date-picker {
  border-color: #ffffff;
  box-shadow: none;
}
#body {
  position: absolute;
  width: 100%;
}
#side {
  z-index: 999;
  width: 200px;
  position: absolute;
  background-color: #34495e;
}
#side ul {
  list-style: none;
  padding: 0;
}
#side a {
  color: #ffffff;
}
#side a:hover {
  text-decoration: none;
}
#side > ul {
  color: #ffffff;
  padding: 0 16px;
}
#side > ul > li {
  padding: 24px 0 16px 0;
  border-top: 1px solid #2c3e50;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#side > ul > li:first-child {
  border-top: none;
  box-shadow: none;
}
#side > ul > li > span {
  font-size: 16px;
  font-weight: bold;
  color: #1abc9c;
}
#side > ul > li > ul {
  margin-top: 4px;
}
#side > ul > li > ul a {
  display: block;
  padding: 6px 8px;
  margin: 2px 0;
  color: #ffffff;
}
#side > ul > li > ul a .glyphicon {
  margin-right: 8px;
}
#side > ul > li > ul li.active a,
#side > ul > li > ul a:hover {
  background-color: #2c3e50;
  transition: background-color ease-in-out 0.2s;
}
#side-toggle {
  display: none;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 200px;
  padding: 8px 6px 8px 0;
  color: #ffffff;
  background-color: #34495e;
  border-radius: 0 4px 4px 0;
  border: none;
  border-bottom: 2px solid #2c3e50;
  opacity: .9;
}
#side-toggle .icon-bar {
  background-color: #ffffff;
  width: 10px;
  border-radius: 0 1px 1px 0;
}
@media (max-width: 768px) {
  #side-toggle {
    display: block;
  }
}
#sideMask {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 98;
  position: fixed;
}
#main {
  margin-left: 200px;
}
#main > .container {
  padding: 20px;
}
@media (max-width: 768px) {
  #main {
    margin-left: 0;
  }
  #main > .container {
    padding: 16px 8px;
  }
  #side-toggle {
    left: 0;
  }
  #side {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: -200px;
  }
  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}
.screenshot {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}
.screenshot ul {
  list-style: none;
  padding-left: 0;
}
.screenshot ul li {
  display: inline-block;
  margin-right: 10px;
}
.screenshot ul li:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .screenshot ul li {
    margin-right: 5px;
  }
  .screenshot ul li img {
    width: 80px;
  }
}
.wechat-header {
  background-color: #1abc9c;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
}
@media (max-width: 768px) {
  .wechat-header {
    border-radius: 0;
    margin: -16px -8px 0 -8px;
  }
}
.modal.lightbox {
  text-align: center;
}
.modal.lightbox .modal-content {
  box-shadow: none;
}
.modal.lightbox .modal-content .lightbox-wrap {
  display: inline-block;
  position: relative;
}
.modal.lightbox .modal-content .lightbox-wrap .close {
  opacity: 1;
  text-shadow: none;
  position: absolute;
  top: -16px;
  right: -16px;
}
@media (max-width: 768px) {
  .modal.lightbox .modal-content {
    margin-top: 20px;
  }
}
body.admin {
  background-color: #ecf0f1;
}
body.admin .body {
  margin-top: 70px;
  padding-bottom: 20px;
}
body.admin .article {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
}
body.admin .form-control {
  background-color: #ffffff;
}
body.admin .modal-body .form-control {
  background-color: #ecf0f1;
}
.search-form {
  margin-bottom: 12px;
}
#studentLinkPager {
  margin-right: 16px;
  height: 29px;
}
#studentList .pagination {
  margin: 0 16px 0 0;
}
.listPager {
  display: inline-block;
  width: auto;
  margin: 20px 16px 0 0;
}
.pages .badge {
  margin-top: 25px;
  float: left;
}
@media (max-width: 768px) {
  .pages {
    text-align: center;
  }
  .pages .badge {
    margin-top: 10px;
    float: none;
  }
  .listPager {
    display: block;
    width: 100%;
    float: none;
    margin-top: 16px;
  }
}
.navbar-brand img {
  position: relative;
  top: -3px;
}
.navbar-nav .bubble {
  position: relative;
}
.navbar-nav .bubble .badge {
  position: absolute;
  background-color: #e74c3c;
  font-size: 10px;
  padding: 3px 6px;
  top: 8px;
  left: 20px;
}
.messages .session {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px;
  margin: 20px 0;
  position: relative;
}
.messages .session:first-child,
.messages .session:last-child {
  margin: 0;
}
.messages .session > div.user,
.messages .session > div.admin {
  padding: 4px 8px;
  margin: 8px 0;
  border: 1px solid transparent;
}
.messages .session > div.user .operate,
.messages .session > div.admin .operate {
  visibility: hidden;
  position: absolute;
}
.messages .session > div.user:hover .operate,
.messages .session > div.admin:hover .operate {
  visibility: visible;
}
.messages .session > div.user {
  border-left-width: 1px;
  border-left-color: #1abc9c;
}
.messages .session > div.user:hover {
  border-color: #1abc9c;
}
.messages .session > div.user .operate {
  right: 30px;
}
.messages .session > div.user.unread {
  border-left-color: #e74c3c;
}
.messages .session > div.user.unread:hover {
  border-color: #e74c3c;
}
.messages .session > div.admin {
  border-right-width: 1px;
  border-right-color: #f1c40f;
  text-align: right;
}
.messages .session > div.admin:hover {
  border-color: #f1c40f;
}
.messages .session > div.admin .operate {
  left: 30px;
  color: #f1c40f;
}
.messages .session > div .time {
  font-size: 12px;
  color: #7f8c8d;
}
.messages .session .bottom {
  position: relative;
  top: 4px;
}
[id^="cnzz_stat_icon"] {
  display: none;
}
body {
  font-family: "Microsoft YaHei";
  background-color: #ffffff;
}
.archives-edit {
  position: fixed;
  top: 16px;
  right: 16px;
}
#feedback-form {
  max-width: 480px;
  margin: auto;
}
.btn.btn-bottom {
  border-bottom: 3px solid #15987e;
  padding-left: 30px;
  padding-right: 30px;
}
.btn.btn-bottom:hover,
.btn.btn-bottom:focus,
.btn.btn-bottom:active {
  border-bottom-color: #117c67;
  box-shadow: none;
}
