.body {
  margin-top: 70px;
}
@media (max-width: 768px) {
  .body > [class^="col-"] {
    padding: 0;
  }
}

.login-form {
  max-width: 320px;
  margin: 15px auto;
  border-radius: 6px;
}
.login-form .form-group {
  position: relative;
}
.login-form label {
  position: absolute;
  top: 7px;
  right: 9px;
  color: #bdc3c7;
}
.login-form .form-control:focus + label {
  color: #1abc9c;
  transition: color ease-in-out 0.15s;
}
.login-form .alert {
  padding: 10px 15px;
}

.navbar-brand img {
  position: relative;
  top: -3px;
}

.main {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

a[data-dismiss="modal"] {
  margin-left: 16px;
}

.article,
.content {
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
}
.article > p {
  text-indent: 2em;
}

.powered {
  color: #7f8c8d;
  margin-bottom: 8px;
}
.powered img {
  position: relative;
  top: -2px;
}

div.courseTable {
  overflow-x: auto;
  overflow-y: hidden;
}
table.courseTable {
  width: 100%;
  border-collapse: separate;
}
.courseTable td,
.courseTable th {
  background-color: #fff;
  padding: 4px 8px;
  width: 14.285714286%;
}
.courseTable tr > td:first-child {
  border-right: 2px solid #fff;
}
.courseTable th {
  background-color: #95a5a6;
  color: #fff;
  text-align: center;
  padding: 10px 8px 8px 8px;
  border-bottom: 2px solid #7f8c8d;
  white-space: nowrap;
}
td.course {
  background-color: #2ecc71;
  color: #fff;
  border: 1px solid;
  cursor: default;
}
td.course > div {
  cursor: pointer;
}
td.course-1 {
  background-color: #1abc9c;
}
td.course-2 {
  background-color: #f1c40f;
}
td.course-3 {
  background-color: #e67e22;
}
td.course-4 {
  background-color: #3498db;
}
td.course-5 {
  background-color: #e74c3c;
}
td.course-6 {
  background-color: #9b59b6;
}
td.course-7 {
  background-color: #34495e;
}
td.course-8 {
  background-color: #16a085;
}
td.course-9 {
  background-color: #f39c12;
}
td.course-10 {
  background-color: #27ae60;
}
td.course-11 {
  background-color: #2980b9;
}
td.course-12 {
  background-color: #c0392b;
}
td.course-13 {
  background-color: #8e44ad;
}
td[rowspan="1"] {
  height: 1.5em;
}
td[rowspan="2"] {
  height: 3em;
}
td[rowspan="3"] {
  height: 4.5em;
}
td[rowspan="4"] {
  height: 6em;
}
td[rowspan="5"] {
  height: 7.5em;
}
td[rowspan="6"] {
  height: 9em;
}
td[rowspan="7"] {
  height: 10.5em;
}
td[rowspan="8"] {
  height: 12em;
}
td[rowspan="9"] {
  height: 13.5em;
}
td[rowspan="10"] {
  height: 15em;
}
td[rowspan="11"] {
  height: 16.5em;
}
td[rowspan="12"] {
  height: 18em;
}
.course .tooltip-inner {
  text-align: left;
  padding: 8px;
}
.course .tooltip-inner p {
  margin: 2px 0;
}

.stats > div {
  padding-top: 20px;
}

#studentList .search-form {
  margin-bottom: 16px;
}
#studentList .badge {
  margin: 6px 0;
}
#studentList .pagination {
  margin: 0 16px 0 0;
}
#studentListPager {
  height: 29px;
}
.listPager {
  display: inline-block;
  width: auto;
  margin: 0px 16px 0 0;
}
@media (max-width: 768px) {
  .listPager {
    display: block;
    width: 100%;
    float: none;
  }
  #studentList .badge {
    margin: 16px 0 0 0;
  }
}

.navbar-nav .badge {
  position: absolute;
  background-color: #e74c3c;
  font-size: 10px;
  padding: 3px 6px;
  top: 12px;
}
.navbar-nav .badge.admin {
  position: relative;
  top: -6px;
}

td.time {
  white-space: nowrap;
}
