a {
  color: #16a085;
}
a:hover {
  color: #16a085;
}
pre {
  background-color: #ffffff;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Microsoft YaHei";
}
.jumbotron {
  background-color: #ecf0f1;
}
.navbar-inverse {
  background-color: #34495e;
  border: none;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #27ae60;
  transition: color ease-in-out 0.2s;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #27ae60;
  transition: color ease-in-out 0.2s;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #27ae60;
}
.navbar-inverse .navbar-toggle {
  border-color: #34495e;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #2c3e50;
}
.navbar-inverse .navbar-collapse {
  border-color: #2c3e50;
}
.modal-content {
  background-color: transparent;
  border: none;
}
.modal-header {
  background-color: #34495e;
  color: #ffffff;
  border-radius: 6px 6px 0 0;
}
.modal-body {
  background-color: #fff;
  border-radius: 0 0 6px 6px;
}
.modal-body .form-control:focus {
  border-style: solid;
}
.close {
  color: #fff;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.close:hover,
.close:focus,
.close:active {
  color: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.btn {
  color: #ffffff;
  border-color: #1abc9c;
  background-color: #1abc9c;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: #ffffff;
  border-color: #16a085;
  background-color: #16a085;
  transition: background-color ease-in-out 0.2s;
}
.btn-warning {
  color: #ffffff;
  border-color: #e67e22;
  background-color: #e67e22;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  color: #ffffff;
  border-color: #d35400;
  background-color: #d35400;
  transition: background-color ease-in-out 0.2s;
}
.btn-info {
  color: #ffffff;
  border-color: #3498db;
  background-color: #3498db;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  color: #ffffff;
  border-color: #2980b9;
  background-color: #2980b9;
  transition: background-color ease-in-out 0.2s;
}
.btn-danger {
  color: #ffffff;
  border-color: #e74c3c;
  background-color: #e74c3c;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  color: #ffffff;
  border-color: #c0392b;
  background-color: #c0392b;
  transition: background-color ease-in-out 0.2s;
}
.form-control {
  border-color: transparent;
  background-color: #ecf0f1;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #1abc9c;
}
.list-group-item {
  border: none;
  padding: 8px 16px;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #1abc9c;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: none;
  white-space: nowrap;
}
.table-bordered.table > thead > tr > th,
.table-bordered.table > tbody > tr > th,
.table-bordered.table > tfoot > tr > th,
.table-bordered.table > thead > tr > td,
.table-bordered.table > tbody > tr > td,
.table-bordered.table > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-responsive {
  overflow-y: hidden;
  overflow-x: auto;
}
.table-responsive .table {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  body .table-responsive {
    border: none;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  body .table-responsive .table {
    background-color: transparent;
  }
  body .table-responsive .table-bordered {
    border: 1px solid #ddd;
  }
}
.text-muted {
  color: #95a5a6;
}
.text-muted:hover {
  color: #95a5a6;
}
.text-primary {
  color: #3498db;
}
.text-primary:hover {
  color: #3498db;
}
.text-warning {
  color: #e67e22;
}
.text-warning:hover {
  color: #e67e22;
}
.text-danger {
  color: #e74c3c;
}
.text-danger:hover {
  color: #e74c3c;
}
.text-success {
  color: #2ecc71;
}
.text-success:hover {
  color: #2ecc71;
}
.text-info {
  color: #3498db;
}
.text-info:hover {
  color: #3498db;
}
.label {
  background-color: #1abc9c;
}
.label-warning {
  background-color: #f39c12;
}
.label-success {
  background-color: #2ecc71;
}
.label-danger {
  background-color: #e74c3c;
}
.label-info {
  background-color: #3498db;
}
.alert {
  border: none;
  color: #ffffff;
}
.alert-warning {
  background-color: #f39c12;
}
.alert-success {
  background-color: #2ecc71;
}
.alert-danger {
  background-color: #e74c3c;
}
.alert-info {
  background-color: #3498db;
}
.alert a {
  color: #ffffff;
  text-decoration: underline;
}
.alert a.close {
  text-decoration: none;
}
.alert abbr {
  border-bottom-color: #ecf0f1;
}
.badge {
  background-color: #1abc9c;
  color: #ffffff;
}
.pagination > li > a,
.pagination > li > span {
  padding: 6px 10px;
  border: none;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.panel {
  border: none;
}
.panel-heading {
  padding: 0;
}
.panel-heading .accordion-toggle {
  display: block;
  padding: 10px 15px;
  background-color: #16a085;
  color: #ffffff;
}
.panel-heading .accordion-toggle.collapsed {
  background-color: #1abc9c;
  border-bottom: 2px solid #16a085;
}
.panel-heading .accordion-toggle.collapsed:hover {
  background-color: #16a085;
  border-bottom: 2px solid #12856f;
}
.panel-heading .accordion-toggle:hover,
.panel-heading .accordion-toggle:active,
.panel-heading .accordion-toggle:focus {
  text-decoration: none;
}
.panel-heading .badge {
  color: #1abc9c;
  background-color: #ffffff;
}
.panel-body {
  background-color: #f9f9f9;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: none;
}
.form-horizontal .form-group label[class^="col-xs"] {
  text-align: right;
}
.tooltip.in {
  opacity: 0.96;
  filter: alpha(opacity=96);
}
.tooltip.top .tooltip-arrow {
  border-top-color: #2c3e50;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #2c3e50;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #2c3e50;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #2c3e50;
}
.tooltip-inner {
  background-color: #2c3e50;
  text-align: left;
}
@media (max-width: 768px) {
  span.visible-xs {
    display: inline !important;
    margin-left: 8px;
  }
}
a.thumbnail {
  margin-bottom: 0;
}
a.thumbnail:hover,
a.thumbnail:active,
a.thumbnail:focus {
  border-color: #16a085;
}
.courseLine {
  margin-bottom: 20px;
}
.courseLine > ul {
  padding-left: 30px;
  list-style: none;
}
.courseLine > ul > li > div {
  background-color: #ecf0f1;
  border-radius: 4px;
  padding: 4px 16px 2px 16px;
  margin: 16px 0;
  position: relative;
}
.courseLine > ul > li > div > dl {
  margin: 8px 0;
}
.courseLine .line {
  height: 100%;
  width: 6px;
  position: absolute;
  top: 0;
  background-color: #1abc9c;
  border-radius: 4px;
}
.courseLine .arrow {
  position: absolute;
  left: -10px;
  top: 20px;
  border: 10px solid transparent;
  border-right-color: #ecf0f1;
  border-left-width: 0;
}
.courseLine .circle {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: -37px;
  border: 5px solid #1abc9c;
  border-radius: 20px;
}
.courseTable {
  border-collapse: separate;
}
.courseTable tr > td:first-child,
.courseTable tr > th:first-child {
  text-align: center;
  width: 10px;
}
.courseTable td,
.courseTable th {
  padding: 4px 8px;
  width: 14.285714286%;
}
.courseTable th {
  background-color: #95a5a6;
  color: #ffffff;
  text-align: center;
  padding: 10px 8px 8px 8px;
  border-bottom: 2px solid #7f8c8d;
  white-space: nowrap;
}
.courseTable td {
  background-color: #fff;
}
.courseTable td.course {
  background-color: #2ecc71;
  color: #ffffff;
  border: 1px solid;
}
.courseTable td.course > div {
  cursor: pointer;
}
.courseTable td.course .popover-content {
  color: #2c3e50;
}
.courseTable td.course .popover-content p {
  margin: 2px 0;
}
.courseTable td.course-1 {
  background-color: #1abc9c;
}
.courseTable td.course-2 {
  background-color: #f1c40f;
}
.courseTable td.course-3 {
  background-color: #e67e22;
}
.courseTable td.course-4 {
  background-color: #3498db;
}
.courseTable td.course-5 {
  background-color: #e74c3c;
}
.courseTable td.course-6 {
  background-color: #9b59b6;
}
.courseTable td.course-7 {
  background-color: #34495e;
}
.courseTable td.course-8 {
  background-color: #16a085;
}
.courseTable td.course-9 {
  background-color: #f39c12;
}
.courseTable td.course-10 {
  background-color: #27ae60;
}
.courseTable td.course-11 {
  background-color: #2980b9;
}
.courseTable td.course-12 {
  background-color: #c0392b;
}
.courseTable td.course-13 {
  background-color: #8e44ad;
}
.courseTable td[rowspan="12"] {
  height: 18em;
}
.courseTable td[rowspan="11"] {
  height: 16.5em;
}
.courseTable td[rowspan="10"] {
  height: 15em;
}
.courseTable td[rowspan="9"] {
  height: 13.5em;
}
.courseTable td[rowspan="8"] {
  height: 12em;
}
.courseTable td[rowspan="7"] {
  height: 10.5em;
}
.courseTable td[rowspan="6"] {
  height: 9em;
}
.courseTable td[rowspan="5"] {
  height: 7.5em;
}
.courseTable td[rowspan="4"] {
  height: 6em;
}
.courseTable td[rowspan="3"] {
  height: 4.5em;
}
.courseTable td[rowspan="2"] {
  height: 3em;
}
.courseTable td[rowspan="1"] {
  height: 1.5em;
}
[id^="cnzz_stat_icon"] {
  display: none;
}
.btn.btn-bottom {
  box-shadow: 0 4px 0 #15987e;
}
.btn.btn-bottom.btn-lg {
  padding-left: 30px;
  padding-right: 30px;
}
.btn.btn-bottom:hover,
.btn.btn-bottom:focus,
.btn.btn-bottom:active {
  box-shadow: 0 4px 0 #117c67;
}
.btn.btn-bottom:active {
  position: relative;
  top: 2px;
  box-shadow: 0 2px 0 #15987e;
}
.btn-warning.btn-bottom {
  box-shadow: 0 4px 0 #c96a17;
}
.btn-warning.btn-bottom.btn-lg {
  padding-left: 30px;
  padding-right: 30px;
}
.btn-warning.btn-bottom:hover,
.btn-warning.btn-bottom:focus,
.btn-warning.btn-bottom:active {
  box-shadow: 0 4px 0 #aa4400;
}
.btn-warning.btn-bottom:active {
  position: relative;
  top: 2px;
  box-shadow: 0 2px 0 #c96a17;
}
.btn-info.btn-bottom {
  box-shadow: 0 4px 0 #2383c4;
}
.btn-info.btn-bottom.btn-lg {
  padding-left: 30px;
  padding-right: 30px;
}
.btn-info.btn-bottom:hover,
.btn-info.btn-bottom:focus,
.btn-info.btn-bottom:active {
  box-shadow: 0 4px 0 #226998;
}
.btn-info.btn-bottom:active {
  position: relative;
  top: 2px;
  box-shadow: 0 2px 0 #2383c4;
}
.btn-danger.btn-bottom {
  box-shadow: 0 4px 0 #df2e1b;
}
.btn-danger.btn-bottom.btn-lg {
  padding-left: 30px;
  padding-right: 30px;
}
.btn-danger.btn-bottom:hover,
.btn-danger.btn-bottom:focus,
.btn-danger.btn-bottom:active {
  box-shadow: 0 4px 0 #9f2f24;
}
.btn-danger.btn-bottom:active {
  position: relative;
  top: 2px;
  box-shadow: 0 2px 0 #df2e1b;
}
.powered img {
  position: relative;
  top: -2px;
}
.navbar-brand img {
  position: relative;
  top: -3px;
}
pre.example {
  background-color: #2c3e50;
  color: #ecf0f1;
}
.padding-box {
  padding: 16px;
}
.bubble {
  position: relative;
}
.bubble .badge {
  position: absolute;
  background-color: #e74c3c;
  font-size: 10px;
  padding: 3px 6px;
  top: 8px;
  left: 20px;
}
