<table class="table suported-commands table-bordered">
  <tr>
    <th>指令</th>
    <th>描述</th>
  </tr>
  <tr>
    <td><code>帮助</code></td>
    <td>获取帮助信息</td>
  </tr>
  <tr>
    <td><code>关于</code></td>
    <td>关于相思青果</td>
  </tr>
  <tr>
    <td><code>学籍</code></td>
    <td>获取个人学籍档案</td>
  </tr>
  <tr>
    <td><code>课表</code></td>
    <td>获取一周课表</td>
  </tr>
  <tr>
    <td><code>课程</code></td>
    <td>默认返回当天课程，可带参数，比如 <code>课程3</code> 返回星期三的课程</td>
  </tr>
  <tr>
    <td><code>成绩</code></td>
    <td>默认返回最近一个学期的成绩，可带参数，比如 <code>成绩1</code> 返回第一个学期的成绩</td>
  </tr>
  <tr>
    <td><code>等级考试</code></td>
    <td>获取等级考试成绩</td>
  </tr>
  <tr>
    <td><code>考试安排</code></td>
    <td>获取考试安排信息</td>
  </tr>
  <tr>
    <td><code>绑定</code></td>
    <td>与相思青果进行绑定</td>
  </tr>
  <tr>
    <td><code>取消绑定</code></td>
    <td>取消与相思青果的绑定，如果你想重新绑定其他学号，要点击右上角退出哦</td>
  </tr>
</table>
<p class="text-muted">
  <span class="glyphicon glyphicon-info-sign"></span>
  发送的指令不一定都能成功返回，可以多试几次。
</p>
