@import 'variables';
@import 'bootstrap';
@import 'common/courseLine';
@import 'common/courseTable';

[id^="cnzz_stat_icon"] {
  display: none;
}

.btn {
  .bottom(@color-dark: @color-dark, @color-darker: @color-darker) {
    &.btn-bottom {
      box-shadow: 0 4px 0 darken(@color-dark, 8%);
      padding-left: 30px;
      padding-right: 30px;

      &:hover,
      &:focus,
      &:active {
        box-shadow: 0 4px 0 darken(@color-darker, 8%);
      }

      &:active {
        position: relative;
        top: 2px;
        box-shadow: 0 2px 0 darken(@color-dark, 8%);
      }
    }
  }

  .bottom();

  &-warning {
    .bottom(@color-warning, @color-warning-dark);
  }

  &-info {
    .bottom(@color-info, @color-info-dark);
  }

  &-danger {
    .bottom(@color-danger, @color-danger-dark);
  }
}

.powered img {
  position: relative;
  top: -2px;
}

.navbar-brand img {
  position: relative;
  top: -3px;
}

pre.example {
  background-color: @color-inverse-darker;
  color: @color-light;
}

.padding-box {
  padding: 16px;
}
