// compile:../amsProxy

.body {
    margin-top: 70px;
}
@media (max-width: 768px) {
    .body > [class^="col-"] {
        padding: 0;
    }
}

a[data-dismiss="modal"] {
    margin-left: 16px;
}

.powered {
    color: #7f8c8d;
    margin-bottom: 8px;
    img {
        position: relative;
        top: -2px;
    }
}


.main {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.navbar-brand img {
    position: relative;
    top: -3px;
}
.navbar-nav {
    .badge {
        position: absolute;
        background-color: #e74c3c;
        font-size: 10px;
        padding: 3px 6px;
        top: 12px;
        &.admin {
            position: relative;
            top: -6px;
        }
    }
}


.article,
.content {
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
}
.article > p {
    text-indent: 2em;
}
