<div class="accordion" id="accordion">
    <?php
    $term_num = count($score['tbody']);
    $count = 0;
    foreach ($score['tbody'] as $term_name => $term_score):
    $count++;
    ?>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a
                href="#<?php echo $term_name;?>"
                class="accordion-toggle
                    <?php if ($count != $term_num) echo 'collapsed'; ?>"
                data-toggle="collapse"
                data-parent="#accordion">
                <?php echo $term_name;?>
            </a>
        </div>
        <div
            id="<?php echo $term_name;?>"
            class="accordion-body collapse
                <?php if ($count == $term_num) echo 'in'; ?>">
            <div class="accordion-inner">
                <?php include 'term_score.html';?>
            </div>
        </div>
    </div>
    <?php endforeach; ?>
</div>
